@import '../../variables';

.back__btn {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $primaryBodyText;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  img {
    margin-right: 1.3rem;
  }
}
.userHeader__container {
  display: flex;
  justify-content: flex-start;
  @media (max-width: $tablet) {
    width: 100%;
  }
}
.user__details-header {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
}
.action__btn-container {
  @media (max-width: $tablet) {
    display: flex;
    margin-top: 3rem;
    transform:scale(0.8)
  }
  button {
    outline: none;
    border: none;
    background: none;
    &:hover {
      color: white;
    }
  }
  @mixin button {
    min-width: 17rem;
    border-radius: 0.8rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 1.1rem 1.6rem;
    cursor: pointer;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    @media (max-width: $tablet) {
      transform: scale(0.9);
    }
  }
  .btn__blacklist {
    @include button;
    border: 1px solid $red;
    margin-right: 2rem;
    color: $red;
    &:hover {
      background: $red;
    }
  }
  .btn__activate {
    @include button;
    border: 1px solid $primary;
    color: $primary;
    &:hover {
      background: $primary;
    }
  }
}

.basicdetails {
  margin-top: 4rem;
  padding-top: 3rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  box-shadow: $box-shadow;
  img {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
  }
  .basicdetails__first-row {
    display: flex;
    align-items: center;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
  }
  @mixin container {
    margin-left: 2rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3rem;
    border-right: 1px solid rgba($primaryPageText, 0.3); // padding-top: 2rem;
    @media (max-width: $tablet) {
      padding-right: 0;
      border-right: 0;
    }
  }
  .username__container {
    display: flex;
    @media (max-width: $tablet) {
    }
    @include container;
    h3 {
      color: $activeBlue;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media (max-width: $tablet) {
        text-align: center;
      }
    }
    .userId {
      margin-top: 0.7rem;
      color: #545f7d;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
    }
  }
  .usertier__container {
    @include container;
    .tierText {
      color: $primaryBodyText;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .stars {
      margin-top: 0.8rem;
      display: flex;
      img {
        height: 16px;
        width: 16px;
      }
    }
  }
  .account {
    @include container;
    border-right: none;
    @media (max-width: $tablet) {
      dislay: flex;
      flex-direction: column;
      align-items: center;
    }
    .account__balance {
      color: $activeBlue;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .account__number {
      margin-top: 0.8rem;
      color: $activeBlue;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .basicdetails__second-row {
    margin-top: 5.1rem;
    margin-right: 1rem;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
      p {
        margin-right: 3rem;
      }
    }
    p {
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: rgba(0, 0, 0, 0.8);
      // margin-right: 8rem;
      padding-bottom: 2rem;
      cursor: pointer;
    }
    .active {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }
}

@mixin header {
  color: $activeBlue;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3rem;
}

@mixin label {
  color: $primaryPageText;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

@mixin detailFont {
  color: $primaryBodyText;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media (max-width: 100rem) {
    margin-bottom: 3rem;
  }
}

@mixin row {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 70rem) {
    flex-direction: column;
  }
}

.personaldetails__container {
  margin-top: 3rem;
  padding: 3rem;
  box-shadow: $box-shadow;
  .title {
    @include header;
  }
  .label {
    @include label;
  }
  .detail {
    @include detailFont;
  }
  .first__row {
    @include row;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba($activeBlue, 0.1);
    margin-bottom: 3rem;
    div {
      margin-right: 4rem;
    }
  }
  .second {
    margin-top: 30px;
  }
}

.backArrow {
  font-size: 1.6rem;
}
