@import "../../_variables.scss";

.input__container {
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  background: #red;
  border: 2px solid rgba(84, 95, 125, 0.15);
  margin-bottom: 2.4rem;
  height: 50px;
  padding: 0 16px;
  width: 447px;
  input {
    border: none;
    background: none;
    font-family: inherit;
    font-size: 1.4rem;
    &:focus,
    &:active {
      border: $primary;
      outline: none;
    }
  }
  span {
    font-size: 12px;
    font-weight: bold;
    color: $primary;
    cursor: pointer;
  }
}
