@import "../../variables";

h1 {
  color: $activeBlue;
  font-size: 4rem;
  font-weight: bold;
}
p {
  color: #545f7d;
  font-size: 2rem;
}
form {
  margin-top: 6rem;
  button {
    width: 447px;
    height: 50px;
    background: $primary;
    border: none;
    border-radius: 8px;
    color: $white;
    font-size: $medium-font;
    text-transform: uppercase;
      cursor: pointer;
    @media (max-width: $tablet) {
      width: 100%;
    }
    &:hover {
      opacity:0.8

    }
  }
  p {
    color: $primary;
    font-size: $formFont;
    margin-bottom: 30px;
  }
}
