@import '../../_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$padding: 1rem 3rem;
$border-radius: 8px;

.main__nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: $nav-box-shadow;

  .left__container {
    display: flex;
    align-items: center;

    a {
      font-size: 1.6rem;
      color: $activeBlue;
      margin-left: 3.57rem;
      margin-right: 4.7rem;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  .notification {
    margin-right: 3rem;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  .userProfile {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    margin-left: 30px;

    @media (max-width: $tablet) {
      p,
      a {
        display: none;
      }
    }

    .profileImage {
      border-radius: 100px;
      margin-right: 10px;
    }
  }
}

.side__nav {
  width: 28.3rem;
  height: calc(100vh - 10rem);
  padding-top: 3rem;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
  font-size: 6rem;
  background: $white;
  overflow-y: scroll;

  @media (max-width: $tablet) {
    position: absolute;
    z-index: 5;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
    display: none;
  }

  p {
    color: $activeBlue;
  }

  .widget {
    display: flex;
    padding: $padding;
    opacity: 0.7;
    margin-bottom: 1rem;

    img {
      margin-right: 1rem;
    }

    p {
      margin-right: 1rem;
      font-size: 1.6rem;
    }

    &.active {
      position: relative;
      background: rgba($primary, 0.06);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0.5rem;
        height: 100%;
        background-color: $primary;
        z-index: 3;
      }
    }

    &:hover {
      background-color: rgba($primary, 0.3);
      cursor: pointer;
    }
  }
}

.side__nav-subgroup {
  .header {
    margin-top: 3rem;
    padding: $padding;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $primaryPageText;
    font-weight: 500;
  }

  .widget {
    &:hover {
      background-color: rgba($primary, 0.3);
      cursor: pointer;
    }
  }
}

.logout__container {
  border-top: 1px solid $border;
  margin-top: 6.9rem;
  padding: 2.9rem 3rem;

  .signout__widget {
    display: flex;
    margin-bottom: 4rem;

    img {
      margin-right: 1rem;
    }

    p {
      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
}

.page__containers {
  display: flex;
}

.searchbar {
  background: white;
  width: 40rem;
  height: 4rem;
  display: flex;
  border-radius: $border-radius;
  margin-left: 10.8rem;
  font-size: 1.4rem;

  @media (max-width: $tablet) {
    display: none;
  }

  input {
    width: 34.4rem;
    height: inherit;
    border: 1px solid rgba($activeBlue, 0.3);
    padding: 0 2rem;
    background: white;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .searchButton {
    width: 5.6rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.content {
  background: $body;
  padding: 6rem 6rem 2rem;
  width: calc(100vw - 28.3rem);
  height: calc(100vh - 10rem);
  overflow-y: scroll;

  @media (max-width: $tablet) {
    width: 100vw;
    height: 100vh;
    padding: 2rem 2rem 3rem 2rem;
  }

  h2 {
    font-size: 2.4rem;
    color: $activeBlue;
    font-weight: 500;
  }
}

.version {
  font-size: 1.2rem;
}

.navlink {
  text-decoration: none;
  font-size: 1.6rem;
}

.navlink-active {
  text-decoration: none;
  background-color: rgba($primary, 0.3);
  width: 100%;
}

.hamburgerMenu {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
  }
}

.hideSideBar {
  display: none;
  position: absolute;
  z-index: 1;
}
