$activeBlue: #213f7d;
$primary: #39cdcc;
$white: #fff;
$yellow:#E9B200;
$medium-font: 1.4rem;
$formFont: 1.2rem;
$tablet: 1000px;
$nav-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
$primaryPageText: #545f7d;
$border: rgba($activeBlue, 0.3);
$body: #fbfbfb;
$primaryBodyText: #545f7d;
$red: #e4033b;
$box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);

