@import "../../variables";

.cards {
  display: flex;
  // background: red;
  margin-top: 4rem;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width:$tablet) {
   justify-content: center; 
  }
  .card {
    min-width: 25rem;
    min-height: 12rem;
    padding: 2.9rem 3rem;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    // margin-right: 2.6rem;
    margin-bottom: 2.6rem;
    .title {
      margin-top: 2.3rem;
      color: #545f7d;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
    .count {
      margin-top: 1.2rem;
      color: #213f7d;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
